@import './layout/sidebar.scss';
@import './layout/header.scss';
@import './components/dashboard/rapport-card.scss';
@import './components/dashboard/hydrometrie-card.scss';
@import './components/dashboard/planning-card.scss';
@import './components/dashboard/intervention-stats.scss';
@import './components/dashboard/poids-maison-card.scss';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f5fcff;
  color: #1e1e1e;
  height: 100vh;
  overflow: hidden;
}

.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.dashboard__grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: hidden;
}

.dashboard__row {
  display: grid;
  gap: 1.5rem;

  &--2 {
    grid-template-columns: repeat(2, 1fr);
    height: 47%; // Presque la moitié
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);
    height: 43%; // L'autre moitié
  }
}

.card {
  background: white;
  border-radius: 20px;
  padding: 1.2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  height: 100%; // Pour forcer le remplissage des cellules
}
